<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="content">
   @*  HEADER PARA PC *@
    <header class="d-none d-md-block">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                            <ul class="navbar-nav d-flex flex-fill justify-content-center">
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>HOME</span></a>
                                <div class="custom-dropdown-content">
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Cat" asp-route-categoria="PARACAIDISMO"><span>PARACAIDISMO</span></a>
                                <div class="custom-dropdown-content">
                                    <a asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARACAIDISMO" asp-route-subcategoria="Arnes-Velas">Arnes-Velas</a>
                                    <a asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARACAIDISMO" asp-route-subcategoria="Cascos">Cascos</a>
                                    <a asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARACAIDISMO" asp-route-subcategoria="Altimetros">Altimetros</a>
                                    <a asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARACAIDISMO" asp-route-subcategoria="Ropa">Ropa</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Cat" asp-route-categoria="PARAPENTE"><span>PARAPENTE</span></a>
                                <div class="custom-dropdown-content">
                                    <a asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARAPENTE" asp-route-subcategoria="Arnes-Velas">Arnes-Velas</a>
                                    <a asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARAPENTE" asp-route-subcategoria="Accesorios">Accesorios</a>
                                    <a asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARAPENTE" asp-route-subcategoria="Ropa">Ropa</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Cat" asp-route-categoria="PILOTOS"><span>PILOTO</span></a>
                                <div class="custom-dropdown-content">
                                    <a asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PILOTOS" asp-route-subcategoria="Accesorios">Accesorios</a>
                                    <a asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PILOTOS" asp-route-subcategoria="Ropa">Ropa</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Cat" asp-route-categoria="OTROS"><span>OTROS</span></a>
                                <div class="custom-dropdown-content">
                                    <a asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="OTROS" asp-route-subcategoria="Camaras">Camaras</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="QuieroVender" ><span>QUIERO PUBLICAR<br /> MI PRODUCTO</span></a>
                                <div class="custom-dropdown-content">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex ms-auto my-2 my-lg-0" method="post" asp-controller="Home" asp-action="Search">
                        <input class="form-control me-2" type="search" placeholder="Buscar productos" aria-label="Buscar" name="searchTerm">
                        <button class="btn btn-outline-primary" type="submit">Buscar</button>
                    </form>
                            <form class="d-flex" method="get" asp-controller="Home" asp-action="Login">
                                <button type="submit" class="btn btn-outline-success me-2">Login</button>
                            </form>
                </div>
            </div>
        </nav>
    </header>
    @* HEADER PARA DISPOSITIVO MOVIL *@
     <header class="d-md-none">
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-icon" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">PARACAIDISMO</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARACAIDISMO" asp-route-subcategoria="Arnes-Velas">Arnes-Velas</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARACAIDISMO" asp-route-subcategoria="Cascos">Cascos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARACAIDISMO" asp-route-subcategoria="Altimetros">Altimetros</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARACAIDISMO" asp-route-subcategoria="Ropa">Ropa</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Cat" asp-route-categoria="PARACAIDISMO">Todos los productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-icon" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">PARAPENTE</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARAPENTE" asp-route-subcategoria="Arnes-Velas">Arnes-Velas</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARAPENTE" asp-route-subcategoria="Accesorios">Accesorios</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PARAPENTE" asp-route-subcategoria="Ropa">Ropa</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Cat" asp-route-categoria="PARAPENTE">Todos los productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-icon" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">PILOTOS</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PILOTOS" asp-route-subcategoria="Accesorios">Accesorios</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="PILOTOS" asp-route-subcategoria="Ropa">Ropa</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Cat" asp-route-categoria="PILOTOS">Todos los productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-icon" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">OTROS</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="sCat" asp-route-categoria="OTROS" asp-route-subcategoria="Camaras">Cámaras</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Cat" asp-route-categoria="OTROS">Todos los productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Productos" asp-action="QuieroVender">QUIERO PUBLICAR MI PRODUCTO</a>
                        </li>
                    </ul>
                    <form class="d-flex ms-auto my-2 my-lg-0" method="post" asp-controller="Home" asp-action="Search">
                        <input class="form-control me-2" type="search" placeholder="Buscar productos" aria-label="Buscar" name="searchTerm">
                        <button class="btn btn-outline-primary" type="submit">Buscar</button>
                    </form>
                            <a class="btn btn-outline-success me-2" asp-controller="Home" asp-action="Login">Login</a>
                </div>
            </div>
        </nav>
    </header>
            <div class="container-render">
                <main role="main" class="pb-3">
                    
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> 
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
