<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
   
</head>
<body>
   @*  HEADER PARA PC *@
    <header class="d-none d-md-block">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>HOME</span></a>
                                <div class="custom-dropdown-content">
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index"><span>PARACAIDISMO</span></a>
                                <div class="custom-dropdown-content">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Arnes-Velas</a>
                                    <a asp-area="" asp-controller="Productos" asp-action="Index">Cascos</a>
                                    <a asp-area="" asp-controller="Productos" asp-action="Index">Altimetros</a>
                                    <a asp-area="" asp-controller="Productos" asp-action="Index">Ropa</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index"><span>PARAPENTE</span></a>
                                <div class="custom-dropdown-content">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Arnes-Velas</a>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Accesorios</a>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Ropa</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index"><span>PILOTO</span></a>
                                <div class="custom-dropdown-content">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Accesorios</a>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Ropa</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index"><span>OTROS</span></a>
                                <div class="custom-dropdown-content">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Camaras</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="custom-dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index"><span>QUIERO PUBLICAR MI PRODUCTO</span></a>
                                <div class="custom-dropdown-content">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    @* HEADER PARA DISPOSITIVO MOVIL *@
     <header class="d-md-none">
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-icon" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">PARACAIDISMO</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Index">Arnes-Velas</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Index">Cascos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Index">Altimetros</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Ropa</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Todos los productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-icon" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">PARAPENTE</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Index">Arnes-Velas</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Index">Accesorios</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Index">Ropa</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Todos los productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-icon" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">PILOTOS</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Index">Accesorios</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Index">Ropa</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Todos los productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-icon" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">OTROS</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Index">Cámaras</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Todos los productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Productos" asp-action="Index">QUIERO PUBLICAR MI PRODUCTO</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
