/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrapper {
    min-height: 100%;
    position: relative; /* Añade posición relativa para el contenedor principal */
    padding-bottom: 100px;
}

.content {
    padding-bottom: 50px;
}
.pb-3 {
    width: 100%;
    justify-content: center;
}
.container-render {
    width: 100vw;
    justify-content: center;
}
footer.footer {
    position: static; /* Cambia a posición absoluta */
    bottom: 0; /* Coloca el footer al fondo */
    width: 100%; /* Ancho completo */
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px 0;
}
/* Estilos de la cuadrícula */
.grid-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    justify-content: center;
    width: 250px;
    overflow: hidden;
    text-align: center;
    margin: 10px; /* Espacio entre los ítems */
    text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilos de productos */
.product {
    background-size: cover;
    background-position: center;
    height: 300px; /* Altura fija para cada producto */
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}
.product:hover {
    transform: translateY(-5px);
}
.uppercase-text {
    text-transform: uppercase;
}

.product-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    color: white;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.product:hover .product-overlay {
    opacity: 1;
}

.product-image img {
    max-width: 100%; /* Imágenes de productos con ancho máximo del contenedor */
    height: auto; /* Altura automática según la proporción de la imagen */
}


.product-details {
    flex-grow: 1; /* Los detalles del producto ocupan todo el espacio disponible */
}

.product-overlay h2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-overlay p {
    font-size: 10px;
    margin-bottom: 6px;
}
.product-actions {
    margin-top: 7px; /* Espacio superior entre acciones y detalles del producto */
}

    .product-actions a, .product-actions button {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        padding: 4px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-right: 5px;
    }

/* Estilos para PC */
@media (min-width: 768px) {
    .navbar-nav {
        background-color:white;
    }
    .nav-link{
        white-space: nowrap; /* Evita que el texto se divida en varias líneas automáticamente */
        text-align: center;
    }

        .nav-link::after {
            content: ''; /* Contenido adicional */
            display: block; /* Lo convierte en un bloque separado */
            margin-top: 0.5em; /* Espacio entre líneas */
        }
    /* Estilos del menú desplegable personalizado */
    .custom-dropdown-content {
        display: none; /* Oculta el contenido del menú desplegable por defecto */
        position: absolute; /* Posicionamiento absoluto para el menú */
        background-color: #f8f9fa; /* Color de fondo del menú desplegable */
        min-width: 160px; /* Ancho mínimo del menú desplegable */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra del menú desplegable */
        z-index: 1; /* Índice z para que esté sobre otros elementos */
        border-radius: 4px; /* Bordes redondeados */
    }

    .custom-dropdown:hover .custom-dropdown-content {
        display: block; /* Muestra el contenido del menú desplegable al hacer hover */
    }

    .custom-dropdown {
        position: relative; /* Posicionamiento relativo para el menú desplegable */
        display: inline-block; /* Elemento en línea con bloque */
        background-color: #f8f9fa; /* Color de fondo del menú desplegable */
        border: none; /* Borde del menú desplegable */
        color: #212529; /* Color de texto del menú desplegable */
        padding: 8px 16px; /* Espaciado interior del menú desplegable */
        font-size: 14px; /* Tamaño de fuente del menú desplegable */
        cursor: pointer; /* Cursor tipo puntero al pasar sobre el menú desplegable */
        border-radius: 4px; /* Bordes redondeados del menú desplegable */
        transition: background-color 0.3s; /* Transición suave para el color de fondo */
    }

    .custom-dropdown-content a {
        color: #212529; /* Color de texto de los elementos del menú desplegable */
        padding: 12px 16px; /* Espaciado interior de los elementos del menú desplegable */
        text-decoration: none; /* Sin subrayado en los enlaces del menú desplegable */
        display: block; /* Elementos de menú como bloques completos */
        transition: background-color 0.3s; /* Transición suave para el color de fondo */
    }

        .custom-dropdown-content a:hover {
            background-color: #e9ecef; /* Color de fondo al pasar sobre los elementos del menú desplegable */
        }

    /* Estilos del formulario en la barra de navegación */
    .navbar-collapse form {
        margin-left: auto; /* Mueve el formulario hacia la derecha */
        margin-right: 20px; /* Espacio entre el formulario y el resto de los elementos */
    }

        .navbar-collapse form input[type="search"] {
            border-radius: 4px; /* Bordes redondeados del campo de búsqueda */
            padding: 8px; /* Espaciado interior del campo de búsqueda */
            border: 1px solid #ced4da; /* Borde del campo de búsqueda */
            background-color: #fff; /* Color de fondo del campo de búsqueda */
            color: #495057; /* Color de texto del campo de búsqueda */
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Transiciones suaves */
            font-size: 14px; /* Tamaño de fuente del campo de búsqueda */
        }

            .navbar-collapse form input[type="search"]:focus {
                border-color: #80bdff; /* Color del borde al hacer foco en el campo de búsqueda */
                outline: 0; /* Elimina el contorno al hacer foco */
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra al hacer foco */
            }

        .navbar-collapse form button[type="submit"] {
            background-color: #007bff; /* Color de fondo del botón de envío */
            color: #fff; /* Color de texto del botón de envío */
            border: 1px solid #007bff; /* Borde del botón de envío */
            border-radius: 4px; /* Bordes redondeados del botón de envío */
            padding: 8px 16px; /* Espaciado interior del botón de envío */
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Transiciones suaves */
            font-size: 14px; /* Tamaño de fuente del botón de envío */
        }

            .navbar-collapse form button[type="submit"]:hover {
                background-color: #0056b3; /* Color de fondo al pasar sobre el botón de envío */
                border-color: #0056b3; /* Color del borde al pasar sobre el botón de envío */
            }
}

/* Estilos para dispositivos móviles */
@media (max-width: 767.98px) {
    .navbar-nav .nav-item {
        text-align: center; /* Centra los elementos del menú de navegación */
        margin: 5px 0; /* Espacio entre elementos del menú de navegación */
    }

    .dropdown-toggle-icon::after {
        display: none !important; /* Oculta el icono de desplegar en los elementos desplegables */
    }

    .navbar-nav .nav-item.dropdown {
        position: static; /* Posición estática para los elementos desplegables */
    }

    .dropdown-menu.show {
        max-height: 500px; /* El valor debe ser mayor que la altura máxima de tus submenús */
    }
    .dropdown-menu {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.8s ease-in-out;
    }

        .navbar-nav .nav-item.dropdown .dropdown-menu {
            position: static; /* Posición estática para el menú desplegable */
            float: none; /* Sin flotación */
            width: auto; /* Ancho automático */
            margin: 0; /* Sin margen */
            background-color: transparent; /* Fondo transparente */
            border: none; /* Sin borde */
            box-shadow: none; /* Sin sombra */
            text-align: center; /* Alineación centrada del texto */
        }

            .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
                text-align: center; /* Alineación centrada del texto de los elementos del menú desplegable */
                padding-left: 1rem; /* Espacio a la izquierda de los elementos del menú desplegable */
                padding-right: 1rem; /* Espacio a la derecha de los elementos del menú desplegable */
            }

    /* Estilos del formulario en la barra de navegación para dispositivos móviles */
    .navbar-collapse form {
        margin-left: auto; /* Mueve el formulario hacia la derecha */
        margin-right: 20px; /* Espacio entre el formulario y el resto de los elementos */
    }

        .navbar-collapse form input[type="search"] {
            border-radius: 4px; /* Bordes redondeados del campo de búsqueda */
            padding: 8px; /* Espaciado interior del campo de búsqueda */
            border: 1px solid #ced4da; /* Borde del campo de búsqueda */
            background-color: #fff; /* Color de fondo del campo de búsqueda */
            color: #495057; /* Color de texto del campo de búsqueda */
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Transiciones suaves */
            font-size: 14px; /* Tamaño de fuente del campo de búsqueda */
        }

            .navbar-collapse form input[type="search"]:focus {
                border-color: #80bdff; /* Color del borde al hacer foco en el campo de búsqueda */
                outline: 0; /* Elimina el contorno al hacer foco */
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra al hacer foco */
            }

        .navbar-collapse form button[type="submit"] {
            background-color: #007bff; /* Color de fondo del botón de envío */
            color: #fff; /* Color de texto del botón de envío */
            border: 1px solid #007bff; /* Borde del botón de envío */
            border-radius: 4px; /* Bordes redondeados del botón de envío */
            padding: 8px 16px; /* Espaciado interior del botón de envío */
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Transiciones suaves */
            font-size: 14px; /* Tamaño de fuente del botón de envío */
        }

            .navbar-collapse form button[type="submit"]:hover {
                background-color: #0056b3; /* Color de fondo al pasar sobre el botón de envío */
                border-color: #0056b3; /* Color del borde al pasar sobre el botón de envío */
            }
}
.slider-container {
    width: 100vw;
    max-height: 550px; /* Altura máxima del slider */
    overflow: hidden;
    position: relative;
}

.slider {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%; /* Cada slide ocupa el 100% del ancho */
}

    .slide img {
        width: 100%;
        max-height : 500px;
        display: block;
    }
.slider-dots {
    text-align: center;
    margin-top: 10px;
    z-index: 1;
    position: relative;
}

.slider-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

    .slider-dot.active {
        background-color: #717171;
    }
